<h1> <%= @post.title %></h1>
<p> <%= @post.description %></p>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label "Rate The Post" %>
  <div id="rating-container">
  </div>

  <p></p>
  <%= f.submit 'Create comment', class: "button small" %>
<% end -%>


<%= render @comments || "No comments exist" %>
